@import 'var-mixin-common'; //_var-mixin-common.scss

// Home

.home-jumbo {
  @include jumbo('/html/home-jumbo.jpg', '/html/climb-with.png');
}

.home-sec2 {
  .top {
    height: 30px;
    text-align: right;

    .text1 {
      height: 100%;
    }
  }

  .center {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    .for-mobile { display: none; }
        @include mq(sm) {
          .for-mobile { display: block; }
          .for-pc { display: none; }
        }

    .box {
      width: 700px;
      padding: 2%;
      display: inline-block;
      border-radius: 240px 15px 100px 15px
                    / 15px 200px 15px 185px;
      border: 6px solid #333;
      background: yellow;
      opacity: 0.8;
      position: relative;
          @include mq(xl) { width: 80%; }

      .strong {
        font-size: larger;
        font-weight: bold;
      }

      .climber {
        img {
          height: 100px;
          position: absolute;
          left: -55px;
          top: 50px;
              @include mq(xl) { height: 50px; left: -27px; }
        }
      }
    }
  }

  .bottom {
    height: 200px;
    display: flex;
        @include mq(xl) { height: 100px; }

    .left, .right {
      img {
        height: 100%;
        width: 100%;
      }
    }
    .left {
          @include mq(xl) { width: 100px; }
    }
    .right {
          @include mq(xl) { width: 100px; }
    }
  }

  .bottom :first-child{
    margin-right: auto;
  }
}

.home-sec3 {
  width: 100%;
  background-color: black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;

  .box{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
        @include mq { width: 100%; }
        @include mq(sm) { flex-direction: column; }

    .left {
      width: 50%;
      text-align: center;
          @include mq(sm) { @include icon(200px); }
          @include mq(sm) { width: 100%; }

      img {
        height: 380px;
            @include mq     { height: 280px; }
            @include mq(sm) { margin-top: 30px; }
      }
    }

    .right {
      width: 50%;
      height: 380px;
          @include mq { height: 280px; }

      p{
        position: relative;
        background: white;
        padding: 1em;
        border-radius: 10px;
            @include mq { font-size: small; }

        &:after{
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: -20px;
          height: 0;
          margin: auto;
          border-style: solid;
          border-color: white transparent
          transparent transparent;
          border-width: 20px 20px 0 20px;
              @include mq(sm) { border-style: none;}
        }
      }

      .top {
        width: 330px;
        margin-top: 50px;
        margin-left: 50px;
            @include mq { width: 250px; margin-top: 25px; margin-left: 50px; }
            @include mq(sm) { margin-left: 80px; }
      }

      .center {
        width: 330px;
        margin-top: 50px;
        margin-left: 200px;
            @include mq(xl) { margin-left: 150px; }
            @include mq { width: 260px; margin-left: -30px; }
            @include mq(sm) { margin-left: 10px; }
      }

      .bottom {
        width: 400px;
        margin-top: 50px;
        margin-left: 50px;
            @include mq { width: 320px; margin-left: 0; }
            @include mq(sm) { margin-left: 40px; }
      }
    }
  }
}
.home-telop {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: yellow;
  border-bottom: 10px solid black;
  position: relative;
  .for-mobile { display: none; }
      @include mq(sm) {
        .for-mobile { display: block; }
        .for-pc { display: none; }
        .allow { display: none; }
      }

  .text {
    text-align: center;

    img {
      position: absolute;
      top: 10px;
      left: 100px;
      height: 70px;
      @include mq(xl) { width: 70%; }
      @include mq     { width: 60%; }
      @include mq(sm) { width: 80%; position: static; }
    }
  }



  .allow img {
    position: absolute;
    top: 0;
    right: 100px;
    height: 100px;

    &:hover {
      right: 70px;
      transition: .3s;
    }
  }
}

.guest-guide {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
}

.home-copyright {
  @include copyright;
}